.services-section-heading {
  letter-spacing: 0.01em;
  background: rgb(0, 0, 0);

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 768px) {
  .services-section-heading,
  .services-section-text,
  .services-section-heading-2 {
    text-align: center;
  }
}

@media screen and (max-width: 560px) {
  .services-section-heading {
    font-size: 2em;
  }
  .servicesContent{
    width: 100vw !important;
  }
  .servicesImage{
    width: 100vw !important;
  }
  .services-section-heading {
    font-size: 2.5em !important;
  }
}

@media screen and (max-width: 1080px) {
  .servicesContent {
    margin-top: 20px;
    padding: 10px;
  }
  .serviceContainer {
    margin-top: 20px;
  }
}
