.services-section-heading {
  letter-spacing: 0.01em;
  background: rgb(0, 0, 0);

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.video-background {
  position: relative;
  width: 100%;
  height: 100vh; /* Adjust this height to fit your design */
  overflow: hidden;
}

.video-background video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Crop the video to fit the container without distorting it */
  z-index: -1; /* Ensure the video stays behind other content */
}

@media screen and (max-width: 768px) {
  .services-section-heading,
  .services-section-text,
  .services-section-heading-2 {
    text-align: center;
  }
}

@media screen and (max-width: 560px) {
  .services-section-heading {
    font-size: 2em;
  }
  .servicesContent{
    width: 100vw !important;
  }
  .servicesImage{
    width: 100vw !important;
  }
  .services-section-heading {
    font-size: 2.5em !important;
  }
}

@media screen and (max-width: 1080px) {
  .servicesContent {
    margin-top: 20px;
    padding: 10px;
  }
  .serviceContainer {
    margin-top: 20px;
  }
}
