body {
  margin: 0;
  color: #ffffff;
  background: linear-gradient(to bottom, white 25%, #5c8a96 100%);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-color: #757575;
  background-color: #ffffff40;
}



.logo {
  font-size: 1.5rem;
  margin-right: 2rem; 
}

button {
  padding: 0.5rem 0.5rem;
  background-color: #ffffff; 
  color: #fff;
  border-width: 1px;
  border-radius: 0px;
  cursor: pointer;
  transition: background-color 0.5s ease; 
}



main {
  position: relative;
  height: calc(100vh - 90px); 
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #444, #222);
  overflow: hidden;
}

.product-info {
  text-align: center;
}

.product-info h1 {
  font-size: 3rem;
}

.product-info p {
  font-size: 1.2rem;
}
/* 
footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #000000;
} */

.footer-left form {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ffffff;
  border-radius: 2px;
  background-color: #f2f2f2;
  color: #fff;
  transition-duration: 200ms;
}

button[type="submit"] {
  background-color: #000000;
  border-width: 2px;
  border-color: #ffffff;
  border-radius: 0;
}

button[type="submit"]:hover {
  background-color: #ffffff;
  border-width: 1px;
  border-color: #5b5b5b;
  border-radius: 0;
}

/* footer .footer-right {
  display: flex;
  align-items: flex-start;
} */

/* footer .supported-images img {
  width: auto;
  height: 40%;
  max-width: 40%;
 
} */

.social-icons a {
  color: #fff;
  font-size: 1.5rem;
  margin-right: 10px;
}


.supported-images {
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
  gap: 0px;
}

.company {
  display: flex;
  align-items: right;
  margin-right: 20px;
  width: 100%;
  grid-gap: 10px;
}

.company-img {
  width: 100%; 
  height: auto; 
  border-radius: 10%; 
}



input:hover,
textarea:hover {
  background-color: #ffffff;
  border-color: #155e75;
  border-radius: 6px;
}


input:active,
textarea:active {
  background-color: #ffffff;
  border-color: #155e75;
  border-radius: 6px;
}

#contactBtn {
  margin-right: 2rem;
}

.footer-right {
  align-items: flex-start;
}

.supported-by {
  margin-right: 2rem;
  max-width: 40%;
}

.social-icons a:hover {
  color: rgb(150, 150, 150);
  
}
